<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Prometheus in Practice</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/pip.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="js/pip.js"></script>

</head>
<body>
<div class="container">

    <br/>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Kotlin in Practice</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form th:object="${registration}" method="POST" role="form" th:action="@{/}">

                <h5>What social networks do you use?</h5>

                <br/>

                <div class="card" style="width: 18rem;">
                    <div onclick="javascript:call('facebook')" class="card-body">
                        <h5 class="card-title">Facebook</h5>
               </div>
                </div>

                <br/>

                <div class="card" style="width: 18rem;">
                    <div onclick="javascript:call('instagram')" class="card-body">
                        <h5 class="card-title">Instagram</h5>
                    </div>
                </div>

                <br/>

                <!--
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Pinterest</h5>
                    </div>
                </div>

                <br/>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Twitter</h5>
                    </div>
                </div>

                <br/>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">LinkedIn</h5>
                    </div>
                </div>

                <br/>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Snapchat</h5>
                    </div>
                </div>

                <br/>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Wordpress</h5>
                    </div>
                </div>

                <br/>
                -->

            </form>
        </div>
    </div>
</div>
</body>
</html>